/* YBN CORDAE SECTION */

.ybn-cordae {
  background-image: url('../../images/ybn-cordae-background.jpg');
  background-size: cover;
  width: 100%;
  padding: 0;
}

.ybn-cordae .container {
  width: 80%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

.ybn-cordae .inner {
  padding: 5% 7.5%;
}

.ybn-cordae .thumbails {
  padding: 0;
}

.ybn-cordae .box {
  background-color: transparent;
  width: 20rem;
  max-width: 100%;
  margin: 0;
}

.ybn-cordae video {
  width: 100%;
}

.ybn-cordae .button {
  background: rgba(172, 7, 7);
  width: 100%;
  padding: 0;

  font-family: 'Kaushan Script', cursive !important;
  text-transform: uppercase;
  letter-spacing: 5px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* YBN NAHMIR SECTION */

.ybn-nahmir {
  background-image: url('../../images/ybn-nahmir-background.jpg');
  background-size: cover;
  width: 100%;
  padding: 5% 7.5%;
}

.ybn-nahmir .container {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  /* border: 1px solid red; */
}

.ybn-nahmir .box {
  background-color: transparent;
  width: 20rem;
  max-width: 100%;
  margin: 0;
}

.ybn-nahmir video {
  width: 100%;
}

.ybn-nahmir .button {
  background: rgb(241, 239, 87);
  width: 100%;
  padding: 0;

  font-family: 'Kaushan Script', cursive !important;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #000 !important;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* 1ST ROW OF NFL ATHLETES */

#main {
  background-image: url('../../images/nflbackground.jpeg');
  background-attachment: fixed;
}

#main .box {
  background-color: transparent;
}

#main .inner .button {
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  width: 100%;
  padding: 0;
}

/* 2ND ROW OF NFL ATHLETES */

#main-2 {
  background-image: url('../../images/nflwhitebackground.jpg');
  background-repeat: round;
}

#main-2 .box {
  background-color: transparent;
}

#main-2 .inner .button {
  background: rgba(1, 51, 105, 0.9);
  border: 1px solid #000;
  width: 100%;
  padding: 0;
}

#main-2 .inner .button {
  font-family: 'Kaushan Script', cursive !important;
  text-transform: uppercase;
  letter-spacing: 5px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* MEDIA QUERIES FOR MOBILE PHONE  */

@media screen and (max-width: 480px) {
  .ybn-cordae {
    background-position: right;
  }

  #main {
    background-position: center;
  }

  .thumbnails {
    width: 100%;
  }
}
