/* YBN CORDAE SECTION */

.ybn-cordae {
  background-image: url('../../images/ybn-cordae-background.jpg');
  background-size: cover;
  width: 100%;
  padding: 0;
}

.ybn-cordae .container {
  width: 90%;
  display: flex;
  justify-content: flex-start;
}

.ybn-cordae .inner {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 10% 7.5%;
}

.ybn-cordae .thumbails {
  padding: 0;
}

.ybn-cordae .box {
  background-color: transparent;
  width: 20rem;
  max-width: 100%;
  margin: 0;
}

.ybn-cordae video {
  width: 100%;
}

.ybn-cordae .inner .button {
  background: rgba(172, 7, 7, 0.5);
  width: 100%;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/* YBN NAHMIR SECTION */

.ybn-nahmir {
  background-image: url('../../images/ybn-nahmir-background.jpg');
  background-size: cover;
  width: 100%;
  padding: 10% 7.5%;
}

.ybn-nahmir .container {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  border: 1px solid red;
}

.ybn-nahmir .box {
  background-color: transparent;
  width: 20rem;
  max-width: 100%;
  margin: 0;
}

.ybn-nahmir .inner .button {
  background: rgba(0, 0, 0, 0.24);
  width: 100%;
  padding: 0;
}

.ybn-nahmir video {
  width: 100%;
}
